

body{
    font-family: "PTSans", "Arial";
	font-weight: regular;
	font-size: 14px;
	color: #000000;
	line-height: 26px;
}

h1{
    font-family: "PTSans", "Arial";
	font-weight: bold;
	font-size: 30px;
	color: #000000;
	line-height: 24px;
}

h2{
    font-family: "PTSans Narrow", "Arial";
	font-weight: bold;
	font-size: 21px;
	color: #000000;
	line-height: 26px;
	}