
body{
	width: 1200px;
	padding: 0px;
	margin: 0 auto;
	font-family: "PTSans", "Arial",sans-serif;
	/*font-weight: regular;*/
	font-size: 14px;
	color: #000000;
	line-height: 26px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  font-family: "symbols-sedona";
  src: url("../fonts/fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/fonts/symbols-sedona.woff2") format("woff2");
}


[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}



.modal-content {
	width: 458px;
	min-height: 100px;
	height: 270px;
	background-color:#ffffff;
	color: #000000;
	font-weight: bold;
	padding: 55px;
	position:absolute;
	top:2276px;
	left:50%;
	margin-left: -284px;
	box-shadow: 0 5px 10px 5px #ededed;
}

.modal-content-close {
 min-height: 84px;
	width: 568px;
	/*padding-top: 30px;*/
	background-color: #766357;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
  cursor: pointer;
    position: absolute;
  top: -84px;
  right: 0;
  border:none;

}

input[type="text"]{
	/*min-width: 300px;*/
	min-width: 65%;
	display: block;
	float: right;
	background-color: #f2f2f2;
	border: none;
	min-height: 37px;
	padding-left: 13px;
	margin: 0;
	font-weight: bold;
	text-transform:uppercase;
}

label{
	position: relative;
	top:7px;
	border: none;
}

.label-container{
margin-bottom: 30px;
position: relative;
}

/*.center{
	width: 130px;
	position: relative;
	top:20px;
	margin: 0;
}*/	

.icon-calendar{
	line-height: 0;
	display: block;
	position: absolute;
	right: 10px;
	top:10px;
}

.number-box{

	margin-bottom: 55px;
	/*max-width: 55%;*/
	/*width: 50%;*/
	width: 50%;
	float:left;
	
}

.clients-number{
	float: right;
	/*min-width: 100px;*/
	min-width: 20%;
	width: 46%;



}

.clients-number button{
	float: right;
	background-color:#f2f2f2;
	border: none;
	min-height: 37px;
	font-weight: bold;
	text-transform:uppercase;
	width: 27%;
	text-align: center;
	padding: 0;
}


.number-box input[type="text"]{
	min-width: 0px;
	width: 30px;
	width: 24%;
	text-align: center;
	padding:0;

}

.number-box label{

	width: 54%;
}


form .number-box:nth-child(4){
float: right;

}

form .number-box:nth-child(4) label{
	margin-right: 30px;
	padding-left:19%;
}

input[type="submit"]{
	width: 100%;
	min-height: 56px;
	background-color:#81b3d2;
	margin: 0 auto;
	/*margin-left: 55px;*/
	border:none;
	margin-bottom: 52px;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
	padding: 0;
}


/*form{
	min-height: 400px;
	/*box-shadow: 0 5px 10px 5px #ededed;

	/*padding:55px;
	position: relative;
}

input[type="submit"]{
	width: 464px;
	min-height: 56px;
	background-color:#81b3d2;
	margin: 0 auto;
	margin-left: 55px;
	border:none;
	margin-bottom: 52px;
	color: #ffffff;
	font-weight: bold;
	font-size: 21px;
}

input[type="submit"]:hover{
	background-color: #669ec0;
}

input[type="submit"]:active{
	background-color: #5496bd;
	color: #88b6d1;
}

label{
	display: block;
	float:right;
	margin-left: 55px;
	width: 90px;
}

/*.form-configuration label{
	
	margin-bottom: 27px;
	padding: 14px 0;
	width: 110px;

}*/
/*input[type="text"],
input[type="number"]{
	background-color: #f2f2f2;
	border:none;
	/*margin-bottom: 27px;*/
	/*padding: 14px;
	font-weight: bold;
	cursor: pointer;
	display: block;
	float:right;
}

/*.form-configuration input[type="text"]{
	background-color: #f2f2f2;
	border:none;
	margin-bottom: 27px;
	padding: 14px;
	font-weight: bold;
	cursor: pointer;

	display: block;
}*/

/*input[type="text"]{
	width: 315px;
	margin-left: 20px;
	/*display: inline-block;

	width: 300px;*/


/*}

input[type="text"]:hover{
	background-color: #ebebeb;
}

input[type="text"]:focus{
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 13px;
}

input[name="departure-date"]{
	margin-left: 14px;
}

.icon-calendar{
	margin-left: -30px;
	color:#c2c2c2;
}


.icon-calendar:hover,
.clients-number button:hover{
	color:#111111;
}

.icon-calendar:active,
.clients-number button:active{
	color:#81b3d2;
}

.clients-number input[type="text"],
.clients-number button{
	border: none;
	display: block;
	position:relative;
	
	height: 35px;
	width: 30px;
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.clients-number button{
	color: #a9a9a9;
	cursor: pointer;

}

.clients-number input[type="text"]{
	padding-left: 10px;
	width: 20px;
}

.clients-number {
	display: inline-block;
	width: 109px;
	height: 35px;
	padding: 0;
	min-height: 0px;
	margin-left: 31px;
	/*margin-bottom: 51px;*/
	/*background-color: #f2f2f2;
	cursor: pointer;
}

form .clients-number:nth-child(6){
	margin-left: 21px;
}



input[ name="arrival-date"]{
	margin-left: 23px;
	margin-top: 52px;
}

.form-configuration input[type="number"]{
	width: 76px;
	margin-left: 40px;
	margin-bottom: 52px
}

input[name="children"]{
	margin-left: 26px;
}*/